* {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

/*Background*/
body {
  background-image: url("img/BG_Gold.JPG");
  background-attachment: fixed;
  background-size: cover;
}

/*Links*/
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none !important;
  color: #fde08d !important;
}

a:active {
  text-decoration: none;
  color: black;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

/* Header */
.header {
  height: 100vh;
}

.logo {
  position: fixed;
}

.centered-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reveal-button {
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px !important;
}

/*Gold border*/
.border-spacer {
  height: 20px;
}

/*Main content*/
.foreground {
  background-image: url("img/BG_Marble_W.JPG");
  width: 100%;
}

.gold {
  background: linear-gradient(
    45deg,
    #8f6b29 0%,
    #b47d25 25%,
    #fde08d 50%,
    #b47d25 75%,
    #fde08d 90%,
    #df9f28 100%
  );
}

.picture {
  max-height: 40vh;
  width: auto;
}

.card-title {
  font-weight: 800;
}

.footer {
  background-color: lightslategrey;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
}
